.comment-model {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.795);
}

.active {
  display: block;
}

.comment-card {
  width: 70%;
  margin: 3rem auto;
  border: 4px solid #be9ce7;
  background-color: #111624;
  border-radius: 15px;
}

.close-icon {
  float: right;
  margin: 10px 18px;
  font-size: 2.5rem;
  cursor: pointer;
}

.close-icon i:hover {
  color: red;
  transform: scale(1.3);
  transition: 0.8s;
}

.main-description {
  padding: 80px 130px;
}

.mediaImage {
  width: 100%;
  border-radius: 10px;
}

.mediaVideo {
  width: 100%;
  height: 50vh;
}

::-webkit-scrollbar {
  display: none;
}

.image-title {
  text-align: center;
  font-size: 2rem;
}

.image-explanation {
  font-style: italic;
}

.copyright {
  text-decoration: underline;
}

.image-date {
  float: right;
}

.comment-card h2 {
  text-align: center;
}

form {
  width: 50%;
  margin: 0 auto;
}

.name-input {
  outline: none;
  color: #111624;
  font-size: 1rem;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  border: none;
  box-sizing: border-box;
  background-color: snow;
}

.comment-input {
  width: 100%;
  height: 150px;
  outline: none;
  padding: 10px;
  color: #111624;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-family: inherit;
  resize: none;
  margin: 25px 0;
  box-sizing: border-box;
  background-color: snow;
}

form button {
  width: 100%;
  background-color: #3ac4;
  border: none;
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: rgba(64, 214, 255, 0.527);
}

.comment-message {
  margin: 20px auto;
  display: block;
  padding: 10px 20px;
  font-size: 1.5rem;
  color: black;
  width: 200px;
  cursor: pointer;
}

.none {
  display: none;
}
